@model MovieTheaterApplication.Models.ViewModels.SeatSelectionViewModel

<div style="text-align:center">
    <h1>Select Seat</h1>
    <hr />
    <h4>Movie: @Model.MovieTitle</h4>

    <hr />
    <h5>Date/Time: @Model.ShowingTime</h5>
    <h5>Auditorium: @Model.AuditoriumTitle </h5>
    <hr />
</div>

<div class="centerPanelParent2">
    <div class="Inner">
        <br/>
        <form asp-controller="Home" asp-action="SelectShowingSeat" method="post">
            <input type="hidden" name="ShowingId" value=@Model.ShowingId />

            @foreach (var group in Model.GroupedSeats)
            {
                <div class="row">
                    @foreach (var seat in group)
                    {
                        <div class="col-md-4">
                            <div class="@(seat.IsSelected ? "seatStatusTaken" : "seatStatusNormal")">
                                <label for="seat@(group.Key)@(seat.Column)">@group.Key @seat.Column</label>

                                <input id="seat@(group.Key)@(seat.Column)"
                                       name="seatsId"
                                       type="checkbox"
                                       value="@seat.SeatId"
                                       disabled="@(seat.IsSelected)" />
                            </div>
                            
                        </div>
                    }
                </div>

            }
            <br/>
            <button class="btn btn-primary">Submit</button>
            <br /><br/>
        </form>
    </div>
</div>

