@model MovieTheaterApplication.Models.ViewModels.SeatSelectionViewModel

<partial name="_ProgressIndicatorPartial" model=3></partial>
<hr />
<h4 style="text-align:center">Movie: @Model.MovieTitle</h4>
<hr />
<h5 style="text-align:center">Date/Time: @Model.ShowingTime.ToString("g")</h5> 
<hr />

<div class="centerPanelParent">
    <div class="basicPanel2">

        <form asp-controller="Home" asp-action="SelectShowingSeat" method="post">
            <input type="hidden" name="ShowingId" value=@Model.ShowingId />

            @foreach (var group in Model.GroupedSeats)
            {
                <div class="row">
                    @foreach (var seat in group)
                    {
                        <div class="col-sm-4">
                            <div class="@(seat.IsSelected ? "seatStatusTaken" : "seatStatusNormal")">
                                <label for="seat@(group.Key)@(seat.Column)">@group.Key @seat.Column</label>

                                <input id="seat@(group.Key)@(seat.Column)"
                                       name="SeatIds"
                                       type="checkbox"
                                       value="@seat.SeatId"
                                       disabled="@(seat.IsSelected)" />
                            </div>
                        </div>
                    }
                </div>
            }
            <br/>
            <button class="btn btn-primary">Submit</button>
                @if(TempData["ErrorMessage"] != null)
                {
                    <p>System Error. Can't select seats.</p>
                }
        </form>
    </div>
</div>

