@model IEnumerable<IGrouping<char, MovieTheaterApplication.Models.ViewModels.SeatSelectionViewModel>>

<div style="text-align:center">
    <h1>Select Seat</h1>
    <hr />
    <h4>Movie: @ViewBag.MovieTitle</h4>

    <hr />
    <h5>Date/Time: @ViewBag.ShowingTime</h5>
    <h5>Auditorium: @ViewBag.Auditorium </h5>
    <hr />
</div>

<div class="centerPanelParent2">
    <div class="Inner">
        <br/>
        <form asp-controller="Home" asp-action="SelectShowingSeat" method="post">


            @foreach (var group in Model)
            {
                <div class="row">
                    @foreach (var seat in group)
                    {
                        <div class="col-md-4">
                            <label for="seat@(group.Key)@(seat.Column)">@group.Key @seat.Column</label>

                            @if (seat.IsSelected)
                            {
                                <input id="seat@(group.Key)@(seat.Column)" name="seatsId" type="checkbox" value="@seat.SeatId" disabled />

                            }
                            else
                            {
                                <input id="seat@(group.Key)@(seat.Column)" name="seatsId" type="checkbox" value="@seat.SeatId" />
                            }

                        </div>
                    }
                </div>

            }
            <br/>
            <button class="btn btn-primary">Submit</button>
            <br /><br/>
        </form>
    </div>
</div>

